AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=True
AIRFLOW__WEBSERVER__EXPOSE_CONFIG=True
OPENAQ_API_HOST=api.openaq.org
OPENAQ_API_KEY=your_api_key_here
POSTGRES_HOST=postgres
POSTGRES_DB=airflow
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
MAPBOX_ACCESS_TOKEN=your_mapbox_token_here
API_BASE_URL=http://127.0.0.1:8000
